<form class="section"
      action="{{ url_for("core.upload_image") }}"
      method="post"
      enctype="multipart/form-data">
    <h1 class="title">Upload your Andromeda Galaxy Photo</h1>
    <figure class="image is-64x64">
        <img alt="guardian"
             src="{{ url_for('static', filename='icons/guardian.png') }}" />
    </figure>
    <div class="notification is-warning">
        <strong>Attention:</strong> As a member of our Andromeda Galaxy community, we ask you to respect our values. Please ensure that the image you upload is related to the Andromeda Galaxy. Uploading irrelevant content may be considered an offense to our community spirit. Let's celebrate our shared passion together!
    </div>
    <div class="field">
        <label class="label">Keywords</label>
        <div class="control">
            <input class="input"
                   type="text"
                   name="keywords"
                   placeholder="Add some keywords that describe the image"
                   required>
        </div>
    </div>
    <div class="field">
        <label class="label">Upload Image</label>
        <div class="control">
            <input class="input" type="file" name="image" accept="image/*" required>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
